*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #b300ff5e;
    color: #333;
    line-height: 1.6;
}
header, main, footer{
    padding: 20px;
    text-align: center;
    
}
header{
    background-color: #45b527;
    color: #f4f4f4;
}
nav{
    text-align: center;
    height: 5vh;
    background-color: black;
    padding-top: 1vh;
}
nav ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
   
}

nav ul li a{

    text-decoration: none;
    color: #f4f4f4;
    
}
nav ul li a:hover{
    color: #45b527;
}

main{
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

section{
    flex: 1  1 200px;
    margin: 10px;
    background-color: coral;
    padding: 1.8vh;
    border-radius: 5%;
}

footer{
    background-color: #45b527;
    color: #f4f4f4;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 10px;
    
}